/*
Responisive design
- Mobile: 375px
- Desktop: 1440px
*/

:root,
.theme_1 {
  /* THEME 1 */
  /* BACKGROUND COLORS */
  --screen-background: rgb(58, 71, 100);
  --input-background: rgb(24, 32, 52);
  --keypad-background: rgb(35, 44, 67);

  /* TEXT COLORS */
  --basic-text: rgb(255, 255, 255);
  --key-numbers: rgb(68, 75, 90);
  --key-text: rgb(255, 255, 255);
  --key-equal: rgb(255, 255, 255);

  /* BUTTONS */
  --key-background: rgb(234, 227, 220);
  --key-shadow: rgb(180, 165, 151);
  --key-active: rgb(255, 255, 255);
  --key-red: rgb(208, 63, 47);
  --key-red-shadow: rgb(147, 38, 26);
  --key-red-active: rgb(236, 134, 123);
  --key-blue: rgb(99, 112, 151);
  --key-blue-shadow: rgb(64, 78, 114);
  --key-blue-active: rgb(178, 189, 222);
}

.theme_2 {
  /* THEME 2 */
  /* BACKGROUND COLORS */
  --screen-background: rgb(230, 230, 230);
  --input-background: rgb(237, 237, 237);
  --keypad-background: rgb(209, 204, 204);

  /* TEXT COLORS */
  --basic-text: rgb(53, 53, 44);
  --key-numbers: rgb(53, 53, 44);
  --key-text: rgb(255, 255, 255);
  --key-equal: rgb(255, 255, 255);

  /* BUTTONS */
  --key-background: rgb(229, 228, 225);
  --key-shadow: rgb(166, 157, 145);
  --key-active: rgb(255, 255, 255);
  --key-red: rgb(202, 85, 2);
  --key-red-shadow: rgb(137, 57, 1);
  --key-red-active: rgb(246, 139, 63);
  --key-blue: rgb(55, 127, 134);
  --key-blue-shadow: rgb(27, 95, 101);
  --key-blue-active: rgb(125, 200, 207);
}

.theme_3 {
  /* THEME 3 */
  /* BACKGROUND COLORS */
  --screen-background: rgb(22, 6, 40);
  --input-background: rgb(29, 9, 52);
  --keypad-background: rgb(29, 9, 52);

  /* TEXT COLORS */
  --basic-text: rgb(255, 229, 61);
  --key-numbers: rgb(255, 229, 61);
  --key-text: rgb(255, 255, 255);
  --key-equal: hsl(198, 20%, 13%);

  /* BUTTONS */
  --key-background: rgb(52, 28, 79);
  --key-shadow: rgb(135, 28, 156);
  --key-active: rgb(121, 71, 179);
  --key-red: rgb(0, 224, 209);
  --key-red-shadow: rgb(108, 249, 242);
  --key-red-active: rgb(149, 255, 248);
  --key-blue: rgb(88, 7, 125);
  --key-blue-shadow: rgb(188, 21, 244);
  --key-blue-active: rgb(158, 81, 194);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 3.2rem;
  font-family: "League Spartan", sans-serif;
  background-color: var(--screen-background);
}

.container {
  width: 50rem;
  margin: 7.5rem auto;
}

.text {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/* HEADER */

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--basic-text);
}

.heading--primary {
  margin-right: auto;
  font-size: 3rem;
}

.themes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.header .text,
.theme__options {
  font-size: 1.4rem;
  font-weight: 700;
}

.theme__text {
  grid-row: 2;
}

.theme__options {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  grid-column: 2;
  gap: 1rem;
}

.theme__slider {
  background-color: var(--keypad-background);
  content: "";
  width: 6rem;
  height: 2rem;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  position: relative;
}

.theme__slider::after {
  position: absolute;
  content: "";
  width: 1.4rem;
  height: 1.4rem;
  top: 50%;
  left: 9%;
  border-radius: 100px;
  background-color: var(--key-red);
  transform: translate(0, -50%);
}

/* BODY */

#calc-input {
  margin-top: 3rem;
  width: 100%;
  height: 10rem;
  background-color: var(--input-background);
  border-radius: 7.5px;
  border: none;
  color: var(--basic-text);
  font-family: inherit;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 15px;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.keypad {
  background-color: var(--keypad-background);
  margin-top: 3rem;
  padding: 2rem;
  width: 100%;
  height: 45rem;
  border-radius: 7.5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.keypad__btn {
  font-family: inherit;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--key-background);
  color: var(--key-numbers);
  box-shadow: 0 0.45rem 0 0 var(--key-shadow);
  width: 80%;
  height: 6rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.keypad__btn:active {
  background-color: var(--key-active);
}

.keypad__btn--big {
  grid-column: span 2;
  width: 90%;
}

.keypad__btn.keypad__btn--special {
  background-color: var(--key-blue);
  color: var(--key-text);
  box-shadow: 0 0.45rem 0 0 var(--key-blue-shadow);
}

.keypad__btn.keypad__btn--special:active {
  background-color: var(--key-blue-active);
}

.keypad__btn.keypad__btn--equal {
  background-color: var(--key-red);
  color: var(--key-equal);
  box-shadow: 0 0.45rem 0 0 var(--key-red-shadow);
}

.keypad__btn.keypad__btn--equal:active {
  background-color: var(--key-red-active);
}

.attribution {
  font-size: 1.5rem;
  text-align: center;
  color: var(--basic-text);
  margin-bottom: 2rem;
}
.attribution a {
  color: var(--key-red);
}
