/*
Responisive design
- Mobile: 375px
- Desktop: 1440px
*/

:root {
  /* THEME 1 */
  /* BACKGROUND COLORS */
  --darkest-blue: hsl(224, 36%, 15%);
  --very-dark-blue: hsl(223, 31%, 20%);
  --dark-blue: hsl(222, 26%, 31%);

  /* TEXT COLORS */
  --text-blue: hsl(221, 14%, 31%);
  --text-white: hsl(0, 0%, 100%);

  /* BUTTONS */
  --key-background: hsl(30, 25%, 89%);
  --key-shadow: rgb(180, 165, 151);
  --key-red: hsl(6, 63%, 50%);
  --key-red-shadow: hsl(6, 70%, 34%);
  --key-blue: hsl(225, 21%, 49%);
  --key-blue-shadow: hsl(224, 28%, 35%);
}

/* 
### Theme 2

#### Backgrounds

- Light gray (main background): hsl(0, 0%, 90%)
- Grayish red (toggle background, keypad background): hsl(0, 5%, 81%)
- Very light gray (screen background): hsl(0, 0%, 93%)

#### Keys

- Dark moderate cyan (key background): hsl(185, 42%, 37%)
- Very dark cyan (key shadow): hsl(185, 58%, 25%)

- Orange (key background, toggle): hsl(25, 98%, 40%)
- Dark orange (key shadow): hsl(25, 99%, 27%)

- Light grayish yellow (key background): hsl(45, 7%, 89%)
- Dark grayish orange (key shadow): hsl(35, 11%, 61%)

#### Text

- Very dark grayish yellow: hsl(60, 10%, 19%)
- White (text): hsl(0, 0%, 100%)
*/

/* 
### Theme 3

#### Backgrounds

- Very dark violet (main background): hsl(268, 75%, 9%)
- Very dark violet (toggle background, keypad background, screen background): hsl(268, 71%, 12%)

#### Keys

- Dark violet (key background): hsl(281, 89%, 26%)
- Vivid magenta (key shadow): hsl(285, 91%, 52%)

- Pure cyan (key background, toggle): hsl(176, 100%, 44%)
- Soft cyan (key shadow): hsl(177, 92%, 70%)

- Very dark violet (key background): hsl(268, 47%, 21%)
- Dark magenta (key shadow): hsl(290, 70%, 36%)

#### Text

- Light yellow: hsl(52, 100%, 62%)
- Very dark blue: hsl(198, 20%, 13%)
- White (text): hsl(0, 0%, 100%)

## Typography
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 3.2rem;
  font-family: "League Spartan", sans-serif;
  background-color: var(--dark-blue);
}

.container {
  width: 50rem;
  margin: 7.5rem auto;
}

.text {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/* HEADER */

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--text-white);
}

.heading--primary {
  margin-right: auto;
  font-size: 3rem;
}

.themes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.header .text,
.theme__options {
  font-size: 1.2rem;
  font-weight: 700;
}

.theme__text {
  grid-row: 2;
}

.theme__options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  grid-column: 2;
}

.theme__slider {
  background-color: var(--very-dark-blue);
  content: "";
  width: 5rem;
  height: 2rem;
  border-radius: 100px;
}

/* BODY */

.calc-input {
  margin-top: 3rem;
  width: 100%;
  height: 10rem;
  background-color: var(--darkest-blue);
  border-radius: 7.5px;
  border: none;
}

.keypad {
  background-color: var(--very-dark-blue);
  margin-top: 3rem;
  padding: 2rem;
  width: 100%;
  height: 45rem;
  border-radius: 7.5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.keypad__btn {
  font-family: inherit;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--key-background);
  color: var(--text-blue);
  box-shadow: 0 0.45rem 0 0 var(--key-shadow);
  width: 70%;
  height: 6rem;
  border-radius: 10px;
  border: none;
}

.keypad__btn--big {
  grid-column: span 2;
  width: 84%;
}

.keypad__btn.keypad__btn--special {
  background-color: var(--key-blue);
  color: var(--text-white);
  box-shadow: 0 0.45rem 0 0 var(--key-blue-shadow);
}

.keypad__btn.keypad__btn--equal {
  background-color: var(--key-red);
  color: var(--text-white);
  box-shadow: 0 0.45rem 0 0 var(--key-red-shadow);
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
