/*
Responisive design
- Mobile: 375px
- Desktop: 1440px
*/

:root {
  /* THEME 1 */
  /* BACKGROUND COLORS */
  --darkest-blue: rgb(24, 32, 52);
  --very-dark-blue: rgb(35, 44, 67);
  --dark-blue: rgb(58, 71, 100);

  /* TEXT COLORS */
  --text-blue: rgb(68, 75, 90);
  --text-white: rgb(255, 255, 255);

  /* BUTTONS */
  --key-background: rgb(234, 227, 220);
  --key-shadow: rgb(180, 165, 151);
  --key-active: rgb(255, 255, 255);
  --key-red: rgb(208, 63, 47);
  --key-red-shadow: rgb(147, 38, 26);
  --key-red-active: rgb(236, 134, 123);
  --key-blue: rgb(99, 112, 151);
  --key-blue-shadow: rgb(64, 78, 114);
  --key-blue-active: rgb(178, 189, 222);
}

/* 
### Theme 2

#### Backgrounds

- Light gray (main background): hsl(0, 0%, 90%)
- Grayish red (toggle background, keypad background): hsl(0, 5%, 81%)
- Very light gray (screen background): hsl(0, 0%, 93%)

#### Keys

- Dark moderate cyan (key background): hsl(185, 42%, 37%)
- Very dark cyan (key shadow): hsl(185, 58%, 25%)

- Orange (key background, toggle): hsl(25, 98%, 40%)
- Dark orange (key shadow): hsl(25, 99%, 27%)

- Light grayish yellow (key background): hsl(45, 7%, 89%)
- Dark grayish orange (key shadow): hsl(35, 11%, 61%)

#### Text

- Very dark grayish yellow: hsl(60, 10%, 19%)
- White (text): hsl(0, 0%, 100%)
*/

/* 
### Theme 3

#### Backgrounds

- Very dark violet (main background): hsl(268, 75%, 9%)
- Very dark violet (toggle background, keypad background, screen background): hsl(268, 71%, 12%)

#### Keys

- Dark violet (key background): hsl(281, 89%, 26%)
- Vivid magenta (key shadow): hsl(285, 91%, 52%)

- Pure cyan (key background, toggle): hsl(176, 100%, 44%)
- Soft cyan (key shadow): hsl(177, 92%, 70%)

- Very dark violet (key background): hsl(268, 47%, 21%)
- Dark magenta (key shadow): hsl(290, 70%, 36%)

#### Text

- Light yellow: hsl(52, 100%, 62%)
- Very dark blue: hsl(198, 20%, 13%)
- White (text): hsl(0, 0%, 100%)

## Typography
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 3.2rem;
  font-family: "League Spartan", sans-serif;
  background-color: var(--dark-blue);
}

.container {
  width: 50rem;
  margin: 7.5rem auto;
}

.text {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/* HEADER */

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--text-white);
}

.heading--primary {
  margin-right: auto;
  font-size: 3rem;
}

.themes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.header .text,
.theme__options {
  font-size: 1.4rem;
  font-weight: 700;
}

.theme__text {
  grid-row: 2;
}

.theme__options {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  grid-column: 2;
  gap: 1rem;
}

.theme__slider {
  background-color: var(--very-dark-blue);
  content: "";
  width: 6rem;
  height: 2rem;
  border-radius: 100px;
  position: relative;
}

.theme__slider::after {
  position: absolute;
  content: "";
  width: 1.4rem;
  height: 1.4rem;
  top: 50%;
  left: 9%;
  border-radius: 100px;
  background-color: var(--key-red);
  transform: translate(0, -50%);
}

/* BODY */

#calc-input {
  margin-top: 3rem;
  width: 100%;
  height: 10rem;
  background-color: var(--darkest-blue);
  border-radius: 7.5px;
  border: none;
  color: var(--text-white);
  font-family: inherit;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 15px;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.keypad {
  background-color: var(--very-dark-blue);
  margin-top: 3rem;
  padding: 2rem;
  width: 100%;
  height: 45rem;
  border-radius: 7.5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.keypad__btn {
  font-family: inherit;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--key-background);
  color: var(--text-blue);
  box-shadow: 0 0.45rem 0 0 var(--key-shadow);
  width: 80%;
  height: 6rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.keypad__btn:active {
  background-color: var(--key-active);
}

.keypad__btn--big {
  grid-column: span 2;
  width: 90%;
}

.keypad__btn.keypad__btn--special {
  background-color: var(--key-blue);
  color: var(--text-white);
  box-shadow: 0 0.45rem 0 0 var(--key-blue-shadow);
}

.keypad__btn.keypad__btn--special:active {
  background-color: var(--key-blue-active);
}

.keypad__btn.keypad__btn--equal {
  background-color: var(--key-red);
  color: var(--text-white);
  box-shadow: 0 0.45rem 0 0 var(--key-red-shadow);
}

.keypad__btn.keypad__btn--equal:active {
  background-color: var(--key-red-active);
}

.attribution {
  font-size: 1.5rem;
  text-align: center;
  color: var(--text-white);
  margin-bottom: 2rem;
}
.attribution a {
  color: var(--key-red);
}
